@import url("./scss/fonts.scss");
@import url("/scss/footer.scss");
.section__feedback {
  background: #fff7f4;
  padding: 60px 0;
}

.feedback__title {
  text-align: center;
  padding-bottom: 60px;
}

.feedback__title p {
  font-family: "Work Sans Regular";
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
  padding-bottom: 25px;
}

.feedback__title h4 {
  font-family: "Work Sans Semibold";
  font-size: 39.06px;
  line-height: 123.6%;
  color: #373737;
}

.feedback__title span {
  color: #ff5300;
}

.feedback__blocks {
  padding-left: 40px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 190px;
}

@media (max-width: 1024px) {
  .feedback__blocks {
    gap: 70px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 50px 50px;
  }
}

.feedback__block {
  padding: 35px 35px 25px 65px;
  background: #ff5300;
  position: relative;
}

.feedback__block p {
  font-family: "Work Sans Regular";
  font-size: 16px;
  line-height: 150.6%;
  color: #fff;
}

.feedback__block--photo {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, 25px);
          transform: translate(-50%, 25px);
}

.feedback__block--person {
  padding-bottom: 20px;
}

.feedback__block--person h5 {
  padding-bottom: 10px;
  font-family: "Work Sans Medium";
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
  color: #fff;
}

.feedback__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.feedback__elements--scroll:nth-child(1) {
  background: #ff5300;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.feedback__elements--scroll:nth-child(2) {
  background: #373737;
  width: 50px;
  height: 15px;
  border-radius: 7.5px;
}

.feedback__elements--scroll:nth-child(3) {
  background: #7b7b7b;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.section__blog {
  padding-top: 60px;
  padding-bottom: 120px;
}

@media (max-width: 1024px) {
  .section__blog {
    padding-top: 0;
    padding-bottom: 60px;
  }
}

.blog__title {
  padding-top: 60px;
}

.blog__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
  gap: 30px;
}

@media (max-width: 1024px) {
  .blog__blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.blog__blocks--about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
}

.blog__blocks--about:nth-child(2) {
  gap: 15px;
}

.blog__blocks--about span {
  font-family: "Work Sans Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
  color: #ff5300;
}

.blog__blocks--about h5 {
  font-family: "Work Sans Medium";
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
  color: #373737;
}

.blog__blocks--about h6 {
  font-family: "Work Sans Medium";
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  color: #373737;
}

.blog__blocks--about p {
  font-family: "Work Sans Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
  padding-bottom: 20px;
}

.blog__blocks--about--me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  gap: 10px;
}

.blog__blocks--about--me p {
  padding-bottom: 0;
}

.section__contact {
  padding-bottom: 60px;
}

.contact__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-bottom: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .contact__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  padding: 18px 18px 25px 18px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact__block--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  gap: 20px;
}

.contact__block--title h4 {
  font-family: "Work Sans Medium";
  font-weight: 500;
  font-size: 25px;
  line-height: 123.6%;
  color: #ff5300;
}

.contact__block--title h5 {
  font-family: "Work Sans Semibold";
  font-weight: 600;
  font-size: 31.25px;
  line-height: 123.6%;
  color: #373737;
}

@media (max-width: 1024px) {
  .contact__block--title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact__block--title > div:first-child {
  background: #ff5300;
  padding: 20px 20px 19px 19px;
  border-radius: 50%;
  -webkit-box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
          box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
}

.contact__block--connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__block--connection a {
  font-family: "Work Sans Medium";
  font-weight: 500;
  font-size: 20px;
  line-height: 123.6%;
  color: #7b7b7b;
}

.contact__block--connection span {
  color: #ff5300;
}

@media (max-width: 1024px) {
  .contact__block--connection {
    text-align: center;
  }
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .contact__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact__form img {
  max-width: 100%;
  height: auto;
  padding-top: 100px;
}

@media (max-width: 1024px) {
  .contact__form img {
    padding-top: 0;
  }
}

.contact__form--main {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.contact__form--main h3 {
  font-family: "Work Sans Semibold";
  font-weight: 600;
  font-size: 31.25px;
  line-height: 123.6%;
  color: #373737;
  padding-bottom: 18px;
}

@media (max-width: 1024px) {
  .contact__form--main h3 {
    text-align: center;
  }
}

.contact__form--main span {
  color: #ff5300;
}

.contact__form--image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.contact__form--general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px 18px;
}

.contact__form--item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 10px);
          flex: 0 1 calc(50% - 10px);
  background: #fff;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.contact__form--item input,
.contact__form--item textarea {
  width: 100%;
  padding: 18px;
  border: none;
  color: #7b7b7b;
  font-size: 16px;
  outline: 0;
}

.contact__form--textarea {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 29px 0;
}

.section__location {
  padding-bottom: 120px;
}

.section__location iframe {
  max-width: 100%;
  max-height: 450px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 120px;
}

@media (max-width: 1024px) {
  .label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}

.label img {
  max-width: 100%;
  height: auto;
}

.label--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1024px) {
  .label--item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

.footer__bg--first {
  background-color: #373737;
}

.footer__bg--second {
  background-color: #ff5300;
}

.footer__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 65px;
  padding-bottom: 70px;
}

.footer__blocks p,
.footer__blocks li,
.footer__blocks a {
  font-family: "Work Sans Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
  color: #fff;
}

.footer__blocks h2 {
  font-family: "Work Sans Semibold";
  font-weight: 600;
  font-size: 39.06px;
  line-height: 123.6%;
  color: #fff;
  padding-bottom: 25px;
}

.footer__blocks--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer__blocks--item nav,
.footer__blocks--item ul,
.footer__blocks--item li {
  display: block;
  padding-bottom: 10px;
}

.footer__blocks--item span {
  color: #ff5300;
}

.footer__blocks--item form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ff5300;
  margin-top: 25px;
}

.footer__blocks--item input {
  background: #373737;
  border: none;
  outline: none;
  padding: 18px;
  font-family: "Work Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
  color: #7b7b7b;
}

.footer__blocks--item label {
  width: -webkit-fill-available;
}

.footer__blocks--item--newsletter {
  border-radius: 0%;
}

@media (max-width: 1024px) {
  .footer__blocks--item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__blocks--item--title {
    width: 50%;
  }
  .footer__blocks--item--news {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .footer__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 25px;
  padding-top: 18px;
  padding-bottom: 20px;
}

.footer__social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 10px 8px;
  width: 40px;
}

.footer__social a:hover {
  background: #ff5300;
}

.footer__social a:hover path {
  fill: #fff;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright p {
  font-family: "Work Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150.6%;
  color: #ffffff;
}
/*# sourceMappingURL=styles.css.map */