@import url("./scss/fonts.scss");
@import url("/scss/footer.scss");

$colorParagraph: #7b7b7b;
$colorTitle: #373737;
$colorSpan: #ff5300;
$colorBlock: #fff;

.section__feedback {
  background: #fff7f4;
  padding: 60px 0;
}

.feedback {
  &__title {
    text-align: center;
    padding-bottom: 60px;
    p {
      font-family: "Work Sans Regular";
      font-size: 16px;
      line-height: 150.6%;
      color: $colorParagraph;
      padding-bottom: 25px;
    }
    h4 {
      font-family: "Work Sans Semibold";
      font-size: 39.06px;
      line-height: 123.6%;
      color: $colorTitle;
    }
    span {
      color: $colorSpan;
    }
  }
  &__blocks {
    padding-left: 40px;
    padding-bottom: 50px;
    display: flex;
    gap: 190px;
    @media (max-width: 1024px) {
      gap: 70px;
      flex-wrap: wrap;
      padding: 0 50px 50px;
    }
  }
  &__block {
    padding: 35px 35px 25px 65px;
    background: $colorSpan;
    position: relative;
    p {
      font-family: "Work Sans Regular";
      font-size: 16px;
      line-height: 150.6%;
      color: $colorBlock;
    }
    &--photo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, 25px);
    }
    &--person {
      padding-bottom: 20px;
      h5 {
        padding-bottom: 10px;
        font-family: "Work Sans Medium";
        font-weight: 500;
        font-size: 25px;
        line-height: 123.6%;
        color: $colorBlock;
      }
    }
  }
  &__elements {
    display: flex;
    justify-content: center;
    gap: 5px;
    &--scroll:nth-child(1) {
      background: $colorSpan;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
    &--scroll:nth-child(2) {
      background: $colorTitle;
      width: 50px;
      height: 15px;
      border-radius: 7.5px;
    }
    &--scroll:nth-child(3) {
      background: $colorParagraph;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }
}

.section__blog {
  padding-top: 60px;
  padding-bottom: 120px;
  @media (max-width: 1024px) {
    padding-top: 0;
    padding-bottom: 60px;
  }
}

.blog {
  &__title {
    padding-top: 60px;
  }
  &__blocks {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    gap: 30px;
    @media (max-width: 1024px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    &--about {
      display: flex;
      gap: 25px;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
      padding: 25px;
      &:nth-child(2) {
        gap: 15px;
      }
      span {
        font-family: "Work Sans Regular";
        font-weight: 400;
        font-size: 16px;
        line-height: 150.6%;
        color: $colorSpan;
      }
      h5 {
        font-family: "Work Sans Medium";
        font-weight: 500;
        font-size: 25px;
        line-height: 123.6%;
        color: $colorTitle;
      }
      h6 {
        font-family: "Work Sans Medium";
        font-weight: 500;
        font-size: 20px;
        line-height: 123.6%;
        color: $colorTitle;
      }
      p {
        font-family: "Work Sans Regular";
        font-weight: 400;
        font-size: 16px;
        line-height: 150.6%;
        color: $colorParagraph;
        padding-bottom: 20px;
      }
      &--me {
        display: flex;
        align-items: center;
        padding-top: 30px;
        gap: 10px;
        p {
          padding-bottom: 0;
        }
      }
    }
  }
}

.section__contact {
  padding-bottom: 60px;
}

.contact {
  &__blocks {
    display: flex;
    gap: 30px;
    padding-bottom: 60px;
    justify-content: space-between;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    padding: 18px 18px 25px 18px;
    flex: 1;
    &--title {
      display: flex;
      padding-bottom: 40px;
      gap: 20px;
      h4 {
        font-family: "Work Sans Medium";
        font-weight: 500;
        font-size: 25px;
        line-height: 123.6%;
        color: $colorSpan;
      }
      h5 {
        font-family: "Work Sans Semibold";
        font-weight: 600;
        font-size: 31.25px;
        line-height: 123.6%;
        color: $colorTitle;
      }
      @media (max-width: 1024px) {
        justify-content: center;
      }
    }
    &--title > div:first-child {
      background: $colorSpan;
      padding: 20px 20px 19px 19px;
      border-radius: 50%;
      box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
    }
    &--connection {
      display: flex;
      flex-direction: column;
      a {
        font-family: "Work Sans Medium";
        font-weight: 500;
        font-size: 20px;
        line-height: 123.6%;
        color: $colorParagraph;
      }

      span {
        color: $colorSpan;
      }
      @media (max-width: 1024px) {
        text-align: center;
      }
    }
  }
  &__form {
    display: flex;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }

    img {
      max-width: 100%;
      height: auto;
      padding-top: 100px;

      @media (max-width: 1024px) {
        padding-top: 0;
      }
    }

    &--main {
      flex: 0 1 60%;

      h3 {
        font-family: "Work Sans Semibold";
        font-weight: 600;
        font-size: 31.25px;
        line-height: 123.6%;
        color: $colorTitle;
        padding-bottom: 18px;

        @media (max-width: 1024px) {
          text-align: center;
        }
      }

      span {
        color: $colorSpan;
      }
    }

    &--image {
      flex: 0 1 40%;
    }

    &--general {
      display: flex;
      flex-wrap: wrap;
      gap: 10px 18px;
    }
    &--item {
      flex: 0 1 calc(50% - 10px);
      background: $colorBlock;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

      input,
      textarea {
        width: 100%;
        padding: 18px;
        border: none;
        color: $colorParagraph;
        font-size: 16px;
        outline: 0;
      }
    }
    &--textarea {
      flex-basis: 100%;
      margin: 29px 0;
    }
  }
}

.section__location {
  padding-bottom: 120px;

  iframe {
    max-width: 100%;
    max-height: 450px;
    flex: 1;
  }
}

.label {
  display: flex;
  justify-content: space-around;
  padding-bottom: 120px;
  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  &--item {
    display: flex;
    width: 50%;
    justify-content: space-around;
    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 20px;
    }
  }
}

.footer {
  &__bg {
    &--first {
      background-color: $colorTitle;
    }
    &--second {
      background-color: $colorSpan;
    }
  }

  &__blocks {
    display: flex;
    padding-top: 65px;
    padding-bottom: 70px;
    p,
    li,
    a {
      font-family: "Work Sans Regular";
      font-weight: 400;
      font-size: 16px;
      line-height: 150.6%;
      color: $colorBlock;
    }
    h2 {
      font-family: "Work Sans Semibold";
      font-weight: 600;
      font-size: 39.06px;
      line-height: 123.6%;
      color: $colorBlock;
      padding-bottom: 25px;
    }
    &--item {
      display: flex;
      flex-direction: column;
      flex: 1;
      nav,
      ul,
      li {
        display: block;
        padding-bottom: 10px;
      }
      span {
        color: $colorSpan;
      }
      form {
        display: flex;
        border: 1px solid $colorSpan;
        margin-top: 25px;
      }

      input {
        background: #373737;
        border: none;
        outline: none;
        padding: 18px;
        font-family: "Work Sans Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150.6%;
        color: $colorParagraph;
      }

      label {
        width: -webkit-fill-available;
      }

      &--newsletter {
        border-radius: 0%;
      }

      @media (max-width: 1024px) {
        align-items: center;
        &--title {
          width: 50%;
        }
        &--news {
          width: 50%;
          margin: 0 auto;
        }
      }
    }

    @media (max-width: 1024px) {
      flex-direction: column;
      text-align: center;
    }
  }
  &__social {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    gap: 25px;
    padding-top: 18px;
    padding-bottom: 20px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      padding: 10px 8px;
      width: 40px;
    }
    a:hover {
      background: $colorSpan;
    }
    a:hover path {
      fill: $colorBlock;
    }
  }
  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-family: "Work Sans Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150.6%;
      color: #ffffff;
    }
  }
}
